<link rel='stylesheet' href='/stylesheets/chat/chat.css' />

<div id="chat_main">
  <ul id="chat_ul">

  </ul>
  <form id="chatForm" onsubmit="return false">
    <input type="text" id="msg" placeholder="메시지를 입력해 주세요.">
    <button type="button">전송</button>
  </form>
</div>

<script type="text/javascript">
  var socket = io();

  $('form').submit(function() {
    socket.emit('chat message', $('#msg').val());
    $('#msg').val('');
    return false;
  });

  socket.on('chat message', function(msg) {
    $('#chat_ul').append($('<li>').text(msg));
  });
</script>
