<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

    <% include ./etc/header %>

    <div class="main_area1">

    </div>
    <div>

    </div>
  </body>
</html>
