<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="http://threejs.org/build/three.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>layout</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/board/list">목록</a></li>
        <li><a href="/board/page">페이징</a></li>
        <li><a href="/board/write">작성</a></li>
        <li><a href="/chat">채팅</a></li>
      </ul>
    </header>
    <div class="content">
      <%- body %>
    </div>
    <footer>

    </footer>
  </body>
</html>
