body {
  padding: 0 !important;
}

.main_area1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/images/nctdream_img2.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_area2, .main_area3 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  text-align: center;
}

.main_area2 p {
  display: none;
  position: absolute;
  top: -40px;
  left: 36px;
  z-index: 2;
  font-size: 80px;
  color: #fff;
}

.main_area2 .swiper-container {
  padding: 11.2% 0;
  background-image: url('/images/album/hotsauce.jfif');
  background-position: center;
}

.main_area2 .swiper-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.main_area2 .swiper-wrapper {


}

.main_area2 .swiper-slide {
  /*margin-right: 200px !important;*/
  align-self: center;
}

.main_area2 .swiper-slide img {
  width: 350px;
}

.main_area2 .swiper-slide.swiper-slide-active img {
  width: 500px;
}
