<link rel='stylesheet' href='/stylesheets/etc/header.css' />

<div class="header">
  <ul>
    <li><a href="/"><img src="/images/nctdream_logo4.png" alt="logo"></a></li>
    <li>
      <!--
      <a href="/board/list">list</a>
      <a href="/board/page">page</a>
      <a href="/board/write">write</a>
      -->
    </li>
    <li></li>
    <li></li>
  </ul>
</div>
